<!-- first component. Alert dismissing -->
<h1>Componentes de bootstrap</h1>

<h2>Alert dismissing</h2>
<div class="bd-example">
    <div class="alert alert-warning alert-dismissible">
        <strong>Esto es una alerta</strong>
            "Esto debe ser igual a bootstrap pero solo usando jquery"
        <button id="close" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
</div>

<br>

<h2>Collapse</h2>
<p>
    <button id="toggle-collapse" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body collapse">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>

<br>

<h2>Collapse Accordion</h2>
